/*=================================
=            Utilities            =
=================================*/

/* My own css normalization */

	*, *:before, *:after { @include box-sizing(border-box); }

	html,
	body {
		width: 100vw;
		overflow-x: hidden;
	}

	a, a:hover, a:visited, a:active {
		color: inherit;
		text-decoration: none;
		outline: none;
	}

	/* Clearfix */
	.clearfix:before,
	.clearfix:after {
		content: "";
		display: table;
	}

	.clearfix:after {
		clear: both;
	}

	.clearfix {
		zoom: 1;
	}

	/* End Clearfix */

	/* Spacing classes */
	.pt-10 { padding-top: 10px; }
	.pt-20 { padding-top: 20px; }
	.pt-30 { padding-top: 30px; }
	.pt-40 { padding-top: 40px; }
	.pt-50 { padding-top: 50px; }
	.pb-10 { padding-bottom: 10px; }
	.pb-20 { padding-bottom: 20px; }
	.pb-30 { padding-bottom: 30px; }
	.pb-40 { padding-bottom: 40px; }
	.pb-50 { padding-bottom: 50px; }
	.mt-10 { margin-top: 10px; }
	.mt-20 { margin-top: 20px; }
	.mt-30 { margin-top: 30px; }
	.mt-40 { margin-top: 40px; }
	.mt-50 { margin-top: 50px; }
	.mb-10 { margin-bottom: 10px; }
	.mb-20 { margin-bottom: 20px; }
	.mb-30 { margin-bottom: 30px; }
	.mb-40 { margin-bottom: 40px; }
	.mb-50 { margin-bottom: 50px; }

	/* Spacing reset for tablet and up */
	.tablet-reset-m { 
		@media only screen and (min-width: 768px) {
			margin-top: 0px; margin-bottom: 0px; 
		}
	}
	.tablet-reset-p { 
		@media only screen and (min-width: 768px) {
			padding-top: 0px; padding-bottom: 0px; 
		}
	}

	[ng-cloak] {
	  display: none;
	}
	
/* End of my own css normalization */
