$recSongScoreColor: lightskyblue;
$recSongTitlteColor: darken($recSongScoreColor, 10%);

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Belgrano|IM+Fell+DW+Pica');

body {
	font-family: 'Roboto', sans-serif;
}

input {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.05rem;
}

body {
  // overflow: visible !important;
  background-image: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background-image: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background-image: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background-image: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background-image: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background-attachment: fixed;
}

.site-wrapper {
	padding-top: 20rem;
}

.site-title {
	text-shadow: 1px 1px 3px rgba(130,130,130,0.5);
	color: gainsboro;
	font-family: 'Belgrano', serif;
	margin-bottom: 60px;
	font-size: 3.0rem;
	line-height: 1.3;
	opacity: 0.7;
	
	strong {
		font-family: 'IM Fell DW Pica', serif;
		font-size: 10rem;
		letter-spacing: 0.5rem;
		color: lightgrey;
	}
}

.form-wrapper {
	> div {
		// background-color: rgba(0,0,0,0.15);
		border-radius: 2px;
	}
}


#songsearch {

	margin: 20px;

	legend {

		color: orange;
		// border-bottom-color: rgba(183, 211, 224, 0.2);
		border-bottom: 0;
	}

	.md-button {
		margin: 0 auto;
		display: block;
	}

}

.md-button.md-primary.md-raised {
	background-color: rgb(243, 145, 0);
}

.md-button.md-primary.md-raised[disabled] {
	background-color: rgba(0,0,0,0.12);
}

md-input-container:not(.md-input-invalid).md-input-focused {
	label {
		color: #7BC6D7;
	}

	.md-input {
		// border-color: #408d9f;
		border-color: #7BC6D7;
	}
}

md-input-container {
	 label {
		color: rgba(255, 255, 255, 0.68);
		font-weight: 400;
	}

	.md-input {
		color: white;
	}
}

.matched-songs {
	margin-top: 30px;
	font-size: 2rem;
}

.form-wrapper.focus {
	> div {
		background-color: rgba(0,0,0,0.15);
	}
}

.form-wrapper > div {
	background-color: rgba(0,0,0,0);
	transition: 0.3s linear;
}

.form2 {
	padding-top: 2rem;
}

#rcmsearch {
	.md-button {
		display: block;
		margin: 5rem auto;
	}
}

md-list-item {
	opacity: 1;
}

md-list-item.ng-enter {
	transition: 0.5s;
	opacity: 0;
}

md-list-item.ng-enter-active {
	opacity: 1;
}

.md-label {
	color: linen;
}

md-radio-button {
	margin-bottom: 0;
	font-weight: 100;
	font-size: 1.5rem;

	.md-off {
		border-color: rgba(255, 255, 255, 0.54);
	}
}

.artist,
.song {
	font-size: 1.8rem;
	font-weight: bolder;
	border-bottom: 1px dotted linen;
}

.artist {
	color: lightslategrey;
	border-bottom-color: lightslategrey;
}

.configurations,
.matched-songs {
	h4 {
		color: dimgrey;
	}
}

md-slider.md-default-theme.md-min .md-thumb:after,
md-slider.md-min .md-thumb:after {
	background-color: #FF9800;
	border-color: #FF9800;
}

md-slider-container md-input-container input[type=number] {
	padding-left: 12px;
}

md-list-item .md-avatar {
	width: 60px;
	height: 60px;
}

.results {
	margin-top: 3rem;

	> h3 {
		color: gainsboro;
	}

	.md-avatar {
		display: flex;
		align-items: center;
		color: $recSongScoreColor;

		h3 {
			margin: 0;
		}

		&.tier1 {
			color: lighten($recSongScoreColor, 30%);
			& + .md-list-item-text h3 {
				color: lighten($recSongTitlteColor, 30%);
			}
		}
		&.tier2 {
			color: lighten($recSongScoreColor, 20%);
			& + .md-list-item-text h3 {
				color: lighten($recSongTitlteColor, 20%);
			}
		}
		&.tier3 {
			color: lighten($recSongScoreColor, 10%);
			& + .md-list-item-text h3 {
				color: lighten($recSongTitlteColor, 10%);
			}
		}

	}

	md-list-item.md-2-line .md-list-item-text {
		h3 {
			font-size: 1.8rem;
		}	
		p {
			font-size: 1.6rem;
			color: $recSongScoreColor;
		}
	}
	
}

.frac-input,
.numRecs-input {
	width: 70px !important;
	padding-right: 20px !important;
	text-align: right !important;

}

.frac-input ~ span {
	display: inline-block;
	margin-left: -20px !important;
	line-height: 26px !important;
	height: 50px;
	margin-bottom: 30px;
	color: gainsboro;
}

md-slider-container md-input-container input[type=number] {
	color: #616161;
	border-bottom-style: dotted;
}

md-slider-container>:last-child:not(md-slider) {
	margin-left: -20px;
	margin-bottom: 18px;
	color: #616161;
	font-size: 1.4rem;
}