@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

body {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
  overflow: visible !important;
  background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -moz-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -ms-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: -o-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
  background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
 }

.site-title {
	font-size: 4rem;
	text-shadow: 1px 1px 3px rgba(130,130,130,0.5);
	color: dimgrey;
	margin-bottom: 60px;
}

.form-wrapper {
	> div {
		background-color: rgba(248,248,248,0.7);
		border-radius: 2px;
	}
}


#songsearch {

	margin: 20px;

	legend {
		color: orange;
	}

	.md-button {
		margin: 0 auto;
		display: block;
	}

}

.md-button.md-primary.md-raised {
	background-color: rgb(243, 145, 0);
}

.md-button.md-primary.md-raised[disabled] {
	background-color: rgba(0,0,0,0.12);
}

md-input-container:not(.md-input-invalid).md-input-focused {
	label {
		color: #408d9f;
	}

	.md-input {
		border-color: #408d9f;
	}
}

.matched-songs > div {
	margin-top: 30px;
	font-size: 2rem;
}